body {
    margin: 0;
    font-family: 'Arial', sans-serif;

  }
  
  .card-container {
    display: flex;
    padding: 20px;
   
  }
  
  .card {
    width:400px; /* Ajustez la largeur de la carte selon vos besoins */
    height:500px;
    margin-right: 15px; /* Ajoutez une marge entre les cartes si nécessaire */
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f0f4f5;
    margin-left: 90px;
  
  }